
{{#each comments as |comment| }}
<div class="row mb-4 post comments" style="margin-top:50px;">
  <div>

    <p>
      {{post_comment}}
    </p>

    <div class="comment-user-info">
      <p style="margin-bottom:0.5rem; margin-top: 30px;">
        <span style="margin-right:20px;">
          <img class="post-icon" src="/images/nerd-smile.svg" alt="calendar icon"/> {{user.name}}
        </span>
        <span style="margin-right:20px;">
          <img class="post-icon" src="/images/calendar.svg" alt="calendar icon"/> 
          {{format_date date_created}}      
        </span>
      </p>
    </div>

  </div>
</div>
{{/each}}



{{!-- <script src="./js/comment.js"></script> --}}