
{{#each comments as |comment| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <p>Comment by {{User.name}} on </p>
  </div>
  <div class="col-md-7">
    <p>
      {{post_comment}}
    </p>

  </div>
</div>
{{/each}}

{{!-- {{format_date createdAt}} --}}

{{!-- <script src="./js/comment.js"></script> --}}