<div>
  <h3>Edit Post:</h3>

  <form class="form edit-post-form">
    <div class="form-group">
      <label for="edit-title">Post Title:</label>
      <input
        class="form-input"
        type="text"
        id="edit-title"
        name="edit-title"
        value="{{title}}"
      />
    </div>

    <div class="form-group">
      <label for="edit-content">Content:</label>
      <textarea
        class="form-input"
        id="edit-content"
        name="edit-content"
        value="{{content}}"
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>

</div>

<script src="./js/edit.js"></script>